html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#masthead {
    position: absolute;
    width: 100%;
    height: 20%;
}

#masthead img {
    position: relative;
    height: 100%;
}

.playbutton {
    position: relative;
    display: block;
    margin-top: 0px;
    cursor: pointer;
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    transition: all .9s ease;
    letter-spacing: 0.03em;
    font-size: 3em;
    color: #fff;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.playbutton.hidden {
    opacity: 0;
}

main {
    position: absolute;
    height: 100vh;
}

.hero {
    height: 100vh;
}

.table {
    margin-bottom: 10%;
}

.playbutton .icon:after {
    background: url(image.png) center center no-repeat;
    background-size: 1.2em;
    content: "";
    width: 1.2em;
    height: 1.2em;
    position: relative;
    display: inline-block;
    top: .2em;
    margin-left: 2px;
    webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
  
footer {
    position: absolute;
    bottom: 0;
}

.absolute {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.table-cell {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    display: table-cell;
}

#love-death {
    position: absolute;
    right: 0;
    left: -10%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-repeat: no-repeat;
    background-size: cover;
}
  