  html, body {
    height: 100%;
    width: 100%;
    overflow: scroll;
    font-family: Arial;
  }
  
  .title-screen {
    height: 70px;
    position: fixed;
    box-shadow: 0px 2px 3px 3px #ccc;
    z-index: 1;
    margin-top: 0;
    background: rgba(134, 123, 131, 0.8);
    width: 100%;
    -webkit-text-stroke-width: 0.2px;
     -webkit-text-stroke-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #masthead {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 1%;
  }

  #masthead img {
      position: relative;
      height: 100%;
  }

  .tabs {
    display: flex;
  }

  .abel-tab {
    margin-right: 40px;
    text-align: center;
  }
  
  .abel-name {
    color: rgb(254, 0, 71);
    font-size: 50px;
    z-index: 1;
  }
  
  .projects-holder {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .project {
    height: 550px;
    width: 40%;
    background-size: cover;
    background-position: center;
    position: relative;
    flex-shrink: 0;
  }
  
  .project img {
    height: 100%;
    width: 100%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

  .selected {
    width: 60%;
  }

  .super-selected {
    width: 60%;
  }

  .super-selected img {
      -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
      filter: grayscale(0%);
  }

  #pro-1 img {
    border-radius: 5px 0px 0px 0px;
  }

  #pro-2 img {
    border-radius: 0px 5px 0px 0px;
  }

  #pro-3 img {
    border-radius: 0px 0px 5px 0px;
  }

  #pro-4 img {
    border-radius: 0px 0px 5px 0px;
  }