html, body {
height: 100%;
width: 100%;
}

#masthead {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 1%;
}

#masthead img {
    position: relative;
    height: 100%;
}

.tabs {
    display: flex;
}

.abel-tab {
    margin-right: 40px;
    text-align: center;
}

.projects-holder {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    height: 37%;
    width: 33%;
    margin-bottom: 5px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.project img {
    height: 100%;
    width: 100%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.selected img {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}